/* Home.css */

/* Animation for text */
.text-animation {
  animation: slideIn 2s ease-out;
}

/* Keyframes for slide-in effect */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Resize image */
.img-small {
  max-width: 60%; /* Adjust the size as needed */
  height: auto;
  border-radius: 8px; /* Optional: rounded corners for the image */
}

.display-4 {
  font-size: 3rem; /* Larger text size for the title */
}

.lead {
  font-size: 1.25rem; /* Slightly larger text size for the description */
}

/* Text container background and size */
