.Header-all {
  position: fixed;
  top: 27px; /* Adjust as necessary */
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  transition: top 0.3s ease, padding 0.3s ease; /* Smooth transition for position change */
  z-index: 1000; /* Ensure the header is above the content */
}

.Header-image {
  display: flex;
  align-items:left;
  justify-content:left;
  margin-left: 10%;
  transition: height 0.3s ease, margin-top 0.3s ease;
  height: 70px;
  margin-bottom: 0;
}

.sticky-Header-image{
  font-size: small;
}

.logo {
  height: 70px;
  transition: height 0.3s ease;
}

.sticky .logo{
  height: 40px;
}

.logo-title1 {
  color: rgb(35, 135, 235);
}

.logo-title2 {
  color: rgb(235, 75, 75);
}

.sticky {
  top: 0;
}

.Nav-bar {
  background-color: rgb(255, 255, 255);
  height: 20px;
  margin-top: -4px;
  margin-bottom: 2px;
}

.nav-item.active {
  background-color: rgb(243, 208, 208);
  padding: 0 5px;
  border-radius: 5%;
}

.Nav-bar ul {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-color: rgb(194, 197, 201);
  padding: 0px 8px;
  margin: 0% 10%;
  list-style: none; /* Remove bullet points */
}

.Nav-bar ul li {
  padding: 0px 8px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(35, 135, 235);
  background-color: rgb(255, 255, 255);
}

.Nav-bar ul li a {
  color: rgb(35, 135, 235);
  text-decoration: none;
  font-weight: bold;
}

.Nav-bar ul li:hover {
  background-color: rgb(235, 35, 35);
}


.sticky-Header-image {
  height: 30px;
  display:left;
  align-items: left;
  transition: height 0.3s ease, margin 0.3s ease;
  margin-bottom: 0px;
  margin-top: 0px;
}





.sticky-Nav-bar ul {
  display: right;
  justify-content: right;
  padding: 0px 8px;
}

.sticky-Nav-bar ul li{
  display: right;
  justify-content: right;
  padding: 0px 8px;
  margin: 0 10px;
  list-style: none; 
}

.sticky-Nav-bar {
  margin-bottom: 10px;
}

.sticky .Nav-bar ul {
  border-top: none;
}

.nav-home_logo {
  height: 15px;
}

.Nav-bar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
}

.sticky-Nav-bar {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4); /* Adjust the shadow for sticky state */
}